.body{
    margin: 0;
    font-family: Arial,  sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    padding: 1rem;
}
.logo{
    color: thistle;
    font-size: 1.5rem;
}
.menu{
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    background: none;
    width: auto;
}
.menu a{
    color: white;
    padding: 1em;
    text-decoration:none;
    display: block;
}
.hamburger{
    font-size: 2rem;
    cursor: pointer;
}
@media(min-width: 768px){
    .menu{
        display: flex;
        flex-direction: row;
        background: none;
        width: auto;
    }
    .menu a{
        padding: 0 1em;
    }
    .hamburger{
        display: none;
    }
}
